# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Raw data only
data/raw/*.csv
data/raw/*.zip

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

data/

.venv/

data/processed/*.csv